@media only screen and (min-width: 1200px) {
  .navigation a {
    font-size: larger;
  }
  header {
    max-width: 1440px;
  }
  .logo-headings img {
    width: 10rem;
    margin-bottom: 0;
  }
  header nav ul {
    max-width: 1200px;
  }
  main {
    max-width: 1200px;
    padding: 1rem;
  }
  /*----- Home Page begins -----*/
  div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  div.cards section {
    display: grid;
    background-color: #d99848;
    text-align: center;
    width: 100%;
    align-content: space-between;
  }
  div.cards section section {
    width: 100%;
    margin: 0 0 0 0;
    padding: 2rem;
  }
  div.cards section section h2 {
    font-weight: bold;
    padding: 2rem 0 0 0;
    margin: 0 0 0 0;
  }
  div.cards section section p {
    font-weight: bold;
  }
  div.cards section section p:nth-child(2) {
    font-style: italic;
    margin: 0 0 2rem 0;
  }
  div.cards section section p:nth-child(5) {
    margin: 0 0 2rem 0;
  }
  div.cards section figure {
      width: 100%;
    padding: 0;
    margin: 0;
  }
  div.cards section figure img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  div.cards section:nth-child(odd) {
    flex-direction: unset;
  }
  /*----- Home Page ends ----- */
  /* ----- Preston Page begins ----- */
  .herodiv {
    max-width: 1200px; 
  }
  section.summary {
    font-size: medium;
    line-height: 1;
  }
  section.summary img {
    width: 3rem;
  }
  .feature {
    max-width: 1200px;
  }
  /* ----- Preston Page ends ----- */
  /* ----- Footer begins ----- */
  footer {
    max-width: 1440px;
  }
  .center_img {
    max-width: 50%;
  }
}
