@media only screen and (min-width: 32.5em) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  nav a {
    font-size: 1rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  article:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
  main picture {
    display: block;
  }
  main picture img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
  }
}
